html {
 background-color: darkslategrey;
 color: white;
}
.inputs{
  margin: 5%;
}
.first-input, .second-input{
  margin: 1%
}
.number-inputs{
  text-align: right;
  display: inline-block;
  margin: 1%;
  border: solid 2px black;
}
.button-clear {
  background-color: white;
  font-size: large;
  border: solid 1px white;
  border-radius: 10px ;
  transition: 1.5s;
  padding: 5px;
}
.button-clear:hover {
  background-color: darkslategrey;
  color: white;
}